/* src/components/education/education.css */

.education__container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.education {
  background: var(--color-bg-variant);
  border-radius: 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.education:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.education__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.education__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.education__list {
  padding: 2rem;
}

.education__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.education__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.education__list p {
  font-size: 0.9rem;
}

/* Responsive tweaks */
@media screen and (max-width: 1024px) {
  .education__container {
    width: 80%;
  }

  .education {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .education__container {
    width: 90%;
  }

  .education {
    width: 100%;
  }
}